.container {
  text-align: center;
}
.toggle-switch {
  position: relative;
  width: 100px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.toggle-switch__checkbox {
  display: none;
}
.toggle-switch__label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.toggle-switch__inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch__inner:before,
.toggle-switch__inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-switch__inner:before {
  content: "IMAGE";
  padding-left: 10px;
  background-color: #060;
  color: #fff;
}
.toggle-switch__inner:after {
  content: "VIDEO";
  padding-right: 10px;
  background-color: #41C8F4;
  color: #fff;
  text-align: right;
}
.toggle-switch__button {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 64px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch__checkbox:checked + .toggle-switch__label .toggle-switch__inner {
  margin-left: 0;
}

.toggle-switch__checkbox:checked + .toggle-switch__label .toggle-switch__button {
  right: 0px;
}
